/* Dasar Styling */
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #000428, #004e92);
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Header Sticky */
.sticky-header {
    position: sticky;
    top: 0;
    background: rgb(78 107 174 / 46%);
    color: white;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.sticky-header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sticky-header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.sticky-header nav ul li a:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

/* Efek Ketikan */
.typing-animation {
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    width: 0;
    animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    background-color: #ffcc00;
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

/* Content Section */
.content-section {
    padding: 60px 30px;
    text-align:leftwards;
}

.content-section h2 {
    font-size: 32px;
    color: #fcf1a8;
    margin-bottom: 15px;
}

.content-section p {
    font-size: 20px;
    color: #e5dfdf;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}
